@{
    ViewBag.Title = "About Honey Do";
    ViewBag.Message = "This is a secure data-driven ASP.NET Application created to master ASP .NET 5 and Microsoft Azure Hosting.";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
