@{
    ViewBag.Title = "About Honey Do";
    ViewBag.Message = "This is the ubiquitous ToDo list project.  It is written in ASP.NET MVC 5, and hosted with Microsoft Azure.  It makes use of JustMock, Microsoft Test, and the concepts of Test Driven Development." +
        "  It is both an example and an exercise, in that I use it to master the concepts I have just learned, as I further my skill set, and demonstrate it to the Seattle Developer Market.";
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message
    <p>
        <p>
        <a href="https://github.com/RESTfulInSeattle/HoneyDo">https://github.com/RESTfulInSeattle/HoneyDo</a>
    </p></h3>

